**/target/
**/build.properties
**/.settings/
**/.classpath
**/.project
**/.idea/
**/*.iml
**/*.eml
**/*.ipr
**/*.iws
**/.includepath
**/*.log
**/*.ids
**/src/main/generated/
**/.DS_Store
**/*.class
**/*.hprof
**/dependency-reduced-pom.xml
setup.properties
